:root {
  --tf-font-family: "SF Mono", Consolas, monospace;
  --tf-font-size: 14px;
  --tf-accent: var(--toolbarbutton-icon-fill);
  --tf-bg: var(--lwt-accent-color, -moz-dialog);
  --tf-border: var(--arrowpanel-border-color, --toolbar-field-background-color);
  --tf-border-transition: 0.2s ease;
  --tf-border-width: 2px;
  --tf-rounding: 0px;
  --tf-margin: 0.8rem;
  --tf-text-transform: none;
  --tf-display-horizontal-tabs: none;
  --tf-display-window-controls: none;
  --tf-display-nav-buttons: none;
  --tf-display-urlbar-icons: none;
  --tf-display-sidebar-tools: flex;
  --tf-display-titles: flex;
  --tf-newtab-logo: "   __            __  ____          \A   / /____  _  __/ /_/ __/___  _  __\A  / __/ _ \\| |/_/ __/ /_/ __ \\| |/_/\A / /_/  __/>  </ /_/ __/ /_/ />  <  \A \\__/\\___/_/|_|\\__/_/  \\____/_/|_|  ";
  --tf-navbar-margin: 8px 8px 2px;
  --tf-navbar-padding: 4px;
  --tf-bookmarks-alignment: center;
}
